---
import Layout from "../layouts/Layout.astro";
import Friend from "../components/friend.astro";
import Friends from "../components/friends.astro";
import Album from "../components/album.astro";
import Albums from "../components/albums.astro";
import Caitlyn from "../assets/caitlyn.png";
import Nira from "../assets/nira_chan_by_chelliopee.jpg";
import Image from "astro/components/Image.astro";
import OldFavi from "../assets/old_site_favicon.jpg";
import Beimax from "../assets/beimax.webp";
import Heartstrings from "../assets/heartstrings.webp";
import Interstates from "../assets/interstates.webp";
import LifeInAVaccum from "../assets/life in a vaccum.webp";
import MrMorale from "../assets/mr morale.webp";
import Tetsuo from "../assets/tetsuo.webp";
import Tpab from "../assets/tpab.webp";
import Tabris from "../assets/1tabris.webp";
import April from "../assets/april.webp";
---

<Layout>
	<div slot="below-header">
		<h2>caitlyn's site</h2>
		<p>19 years old, Australia</p>
	</div>

	<h3>Recent Manga</h3>
	<br />
	<h3>Recent Tracks</h3>
	<br />
	<h3>Favorite Albums</h3>

	<Albums>
		<Album
			href="https://www.last.fm/music/Marjorie+-W.C.+Sinclair/Beimax+Chessclub"
			pfp={Beimax}
		/>
		<Album
			href="https://www.last.fm/music/%E7%BC%BA%E7%9C%81/Life+In+A+Vacuum"
			pfp={LifeInAVaccum}
		/>
		<Album
			href="https://www.last.fm/music/Kendrick+Lamar/Mr.+Morale+&+the+Big+Steppers"
			pfp={MrMorale}
		/>
		<Album
			href="https://www.last.fm/music/lexycat/heartstrings"
			pfp={Heartstrings}
		/>
		<Album
			href="https://www.last.fm/music/Lupe+Fiasco/Tetsuo+&+Youth"
			pfp={Tetsuo}
		/>
		<Album
			href="https://www.last.fm/music/Kendrick+Lamar/To+Pimp+a+Butterfly"
			pfp={Tpab}
		/>
		<Album
			href="https://www.last.fm/music/abriction/Interstates"
			pfp={Interstates}
		/>
	</Albums>

	<p id="subText">You can find more on my</p>
	<a class="hyperlink" href="https://ibb.co/rCq9b3t">Topster</a>
	<br />
	<h3>Projects</h3>

	<div class="grid">
		<a href="https://github.com/fielstamper/caitlyn.moe">
			<div class="gridHeader">
				<Image src={Caitlyn} alt="My pfp" width={24} />
				This website
			</div>
			<div class="gridDescription">
				<p>This poorly built site.</p>
			</div>
			<div class="gridFooter"></div>
		</a>

		<a href="https://github.com/fielstamper/kosuka.dev">
			<div class="gridHeader">
				<Image src={OldFavi} alt="My old site" width={24} />
				kosuka.dev
			</div>
			<div class="gridDescription">
				<p>My first (now down) site.</p>
			</div>
			<div class="gridFooter"></div>
		</a>
		<a href="...">
			<div class="gridHeader">
				<p>n/a</p>
			</div>
			<div class="gridDescription"></div>
			<div class="gridFooter"></div>
		</a>
		<a href="...">
			<div class="gridHeader">
				<p>n/a</p>
			</div>
			<div class="gridDescription"></div>
			<div class="gridFooter"></div>
		</a>
	</div>
</Layout>

<h3>Miscellaneous Creations</h3>
<div class="grid2">
	<a href="../blender">
		<div class="gridHeader">
			<Image
				src={Nira}
				alt="Nira"
				title="chelliopee on newgrounds"
				width={24}
			/>
			Nira Zutomayo 3D Model
		</div>
		<div class="gridDescription">
			<p>My first self-made model on Blender.</p>
		</div>
		<div class="gridFooter"></div>
	</a>

	<a href="...">
		<div class="gridHeader">
			<p>n/a</p>
		</div>
	</a>
</div>

<h3>Cute People</h3>

<Friends>
	<Friend
		title="ilmp"
		href="https://codeberg.org/paige"
		pfp="https://codeberg.org/paige.png"
	/>
	<Friend
		title="my favorite chud"
		href="https://vendicated.dev/"
		pfp="https://github.com/Vendicated.png"
	/>
	<Friend
		title="alyalyalyalyalyalyalyalyalya"
		href="https://www.ankle.lol/"
		pfp={April}
	/>
	<Friend
		title="I just kept on retyping something to get a name which sounded good to me"
		href="https://khcrysalis.dev/"
		pfp="https://avatars.githubusercontent.com/u/97859147?v=4"
	/>
	<Friend
		title="-# the :rini:"
		href="https://github.com/rniii"
		pfp="https://github.com/rniii.png"
	/>
	<Friend title="6k hours tf2" href="https://x.com/1tabris" pfp={Tabris} />
</Friends>
