---
import Layout from "../layouts/Layout.astro";
import Friend from "../components/friend.astro";
import Friends from "../components/friends.astro";
import Caitlyn from "../assets/caitlyn.png";
import Nira from "../assets/nira_chan_by_chelliopee.jpg";
import Image from "astro/components/Image.astro";
import OldFavi from "../assets/old_site_favicon.jpg";
import Tabris from "../assets/1tabris.webp";
import April from "../assets/april.webp";
import LastFMGrid from "../components/lastFMGrid.astro";
import AniListAPI from "../components/aniListAPI.astro";
---

<Layout>
	<div slot="below-header">
		<h2 id="h2titleindex">
			hi, i'm <span class="accent-color">caitlyn!</span>
		</h2>
		<p>19 years old, Australia</p>
	</div>

	<h3>Recent Manga</h3>
	<AniListAPI />
	<br /><br />
	<p>You can find more on my</p>
	<a class="hyperlink" href="https://anilist.co/user/aussieauntie/">AniList</a
	><br /><br />
	<h3>Recent Tracks</h3>
	<LastFMGrid />
	<br />
	<p>You can find more on my</p>
	<a class="hyperlink" href="https://www.last.fm/user/lightafterruin"
		>Last.fm</a
	><br /><br />

	<h3>Projects</h3>

	<div class="grid">
		<a href="https://github.com/fielstamper/caitlyn.moe">
			<div class="gridHeader">
				<Image src={Caitlyn} alt="My pfp" width={24} />
				This website
			</div>
			<div class="gridDescription">
				<p>This poorly built site.</p>
			</div>
			<div class="gridFooter"></div>
		</a>

		<a href="https://github.com/fielstamper/kosuka.dev">
			<div class="gridHeader">
				<Image src={OldFavi} alt="My old site" width={24} />
				kosuka.dev
			</div>
			<div class="gridDescription">
				<p>My first (now down) site.</p>
			</div>
			<div class="gridFooter"></div>
		</a>
		<a href="...">
			<div class="gridHeader">
				<p>n/a</p>
			</div>
			<div class="gridDescription"></div>
			<div class="gridFooter"></div>
		</a>
		<a href="...">
			<div class="gridHeader">
				<p>n/a</p>
			</div>
			<div class="gridDescription"></div>
			<div class="gridFooter"></div>
		</a>
	</div>

	<h3>Miscellaneous Creations</h3>
	<div class="grid2">
		<a href="../blender">
			<div class="gridHeader">
				<Image
					src={Nira}
					alt="Nira"
					title="chelliopee on newgrounds"
					width={24}
				/>
				Nira Zutomayo 3D Model
			</div>
			<div class="gridDescription">
				<p>My first self-made model on Blender.</p>
			</div>
			<div class="gridFooter"></div>
		</a>

		<a href="...">
			<div class="gridHeader">
				<p>n/a</p>
			</div>
		</a>
	</div>

	<h3>Cute People</h3>

	<Friends>
		<Friend
			title="ilmp"
			href="https://codeberg.org/paige"
			pfp="https://codeberg.org/paige.png"
		/>
		<Friend
			title="my favorite chud"
			href="https://vendicated.dev/"
			pfp="https://github.com/Vendicated.png"
		/>
		<Friend
			title="alyalyalyalyalyalyalyalyalya"
			href="https://www.ankle.lol/"
			pfp={April}
		/>
		<Friend
			title="I just kept on retyping something to get a name which sounded good to me"
			href="https://khcrysalis.dev/"
			pfp="https://avatars.githubusercontent.com/u/97859147?v=4"
		/>
		<Friend
			title="-# the :rini:"
			href="https://github.com/rniii"
			pfp="https://github.com/rniii.png"
		/>
		<Friend
			title="6k hours tf2"
			href="https://x.com/1tabris"
			pfp={Tabris}
		/>
	</Friends>
</Layout>
