---
const { href, pfp, title, alt } = Astro.props;
import { Image } from "astro:assets";
---

<a href={href} aria-label={`A link to “${title}”'s website`}>
	<Image src={pfp} title={title} alt={alt} width={50} height={50} />
</a>
<style>
	a {
		height: 50px;
		width: 50px;
		border-radius: 8px;
		overflow: hidden;
		transition: all 0.25s cubic-bezier(0.17, 0.85, 0.29, 0.95);
		background: var(--gray-3);
		box-shadow:
			inset 0px 0px 0px 1px light-dark(#3c3c3c1f, #ffffff1f),
			var(--shadow-low);
	}

	a:hover {
		box-shadow: 0 0 9px var(--accent-secondary);
		scale: 1.05;
	}

	a:active {
		scale: 0.9;
	}
</style>
